# --- IDE (VS Code) ---
.vscode/
.history/

pom.xml
target/
.idea/
*.iml
*.iws
*.ipr
*.class
*.log
*.jar
*.war
*.ear
*.db
*.sql
*.sqlite
*.bak
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
*.zip
*.tar.gz
*.7z
*.log
*.out